// OVERLAY code
.logo
  section.section
    .container
      .row.logo__content-wrapper
        .col.col-5

        .col.col-7
          .logo__contents(data-aos="fade-up")
            p.p-label Was wir tun
            h2.h2-title Automatisierung von <br/> bestehenden Arbeitsprozessen
            p.p-main Wir optimieren Ihre Arbeitsprozesse mit unseren gut ausgebildeten Fachleuten dank der Einführung von Selbstbedienungstools, um Ihre Kosten zu senken. Zu diesem Zweck analysieren wir Ihre Arbeitsablauf komplett durch, dies eventuell auch bei einer Betriebs- oder Produktionsbesichtigung. Wir vollziehen mögliche Probleme und machen bessere Vorschläge für Sie und liefern Ihnen detaillierten Berichte um Kosten und Zeit zu sparen.
