// cta
.cta

  // section
  section.section
    .container
      .cta__content-wrapper
        .cta__logo(data-aos="fade-up")
          +svgColor('logo')

          a(href="#" data-micromodal-trigger="feedback").btn.btn-primary
            span Anfrage sende


        .cta__copy Copyright © 2020 Lion’s Byte. All rights reserved.
