---
title: Homepage
---
extends shared/_layout
block content

  .scroll-magic
    .page__background
      include ../components/intro/background.svg

    include ../components/intro/_intro.pug

    include ../components/overlay/_code.pug
