---
title: Homepage
---
extends shared/_layout
block content

  // sections
  .scroll-magic
    .page__background
      include ../components/intro/background.svg

    include ../components/intro/_intro

    include ../components/overlay/_code

    // run lottie animation and then merge to _logo
    include ../components/lottie/_second
    include ../components/lottie/_logo

    include ../components/slogan/_slogan-2

    include ../components/overlay/_lion

    include ../components/skiils/_skiils

    include ../components/benefits/_benefits

    include ../components/cta/_cta

