---
title: Homepage
---
extends shared/_layout
block content

  .scroll-magic
    .page__background
      include ../components/intro/background.svg

    include ../components/intro/_intro.pug

    include ../components/overlay/_code.pug

    // run lottie animation and then merge to _logo
    include ../components/lottie/_second.pug
    include ../components/lottie/_logo.pug

    include ../components/slogan/_slogan-2.pug

    include ../components/overlay/_lion.pug
