// skiils
.skiils

  section.section
    .container
      .skiils__top
        .skiils__contents(data-aos="fade-up")
          p.p-label Kompetenzen und Fähigkeiten
          h2.h2-title Gegenwart und Innovationen sind ein Teil des Images von Lion’s Byte.
          p.p-main Unsere Fachleute beherrschen fortgeschrittene
            br
            | Technologien in der Softwareentwicklung.

      // second half of screen
      .skiils__ring
        .skiils__ring-text
          h4.is-active Webentwicklung
          h4 Anwendungssoftware
        .skiils__ring-radial
          .skiils__icon
            img(src='img/skiil-angular.png' srcset='img/skiil-angular@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/skiil-react.png' srcset='img/skiil-react@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/skiil-php.png' srcset='img/skiil-php@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/skiil-vue.png' srcset='img/skiil-vue@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/skiil-js.png' srcset='img/skiil-js@2x.png 2x' alt='')

          .skiils__icon
            img(src='img/tech-python.png' srcset='img/tech-python@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/tech-java.png' srcset='img/tech-java@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/tech-cplus.png' srcset='img/tech-cplus@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/tech-delphi.png' srcset='img/tech-delphi@2x.png 2x' alt='')
          .skiils__icon
            img(src='img/tech-csharp.png' srcset='img/tech-csharp@2x.png 2x' alt='')
