include ../utilities/_mixins
doctype html
html(lang="en")
  head
    include _head

  body
    .svg-sprite
      include ../../../dist/img/sprite-color.svg
      include ../../../dist/img/sprite-mono.svg

    .page(class=outClass)
      block header
      include ../../components/header/_header

      .page__content
        block content

      block modals
        include ../../components/modals/_shared

    block dev
      include ../../components/dev/demoGrid/_demoGrid

    block scripts
      include _scripts
