// INTRO
.intro
  section.section
    .container
      .row.intro__content-wrapper
        .col.col-6(data-aos="fade-up")
          .intro__name
            +svgColor('strong_name')
        .col.col-6(data-aos="fade-up")
          p.p-main
            | entwickelt individuelle Softwarelösungen,
            br
            | das sind fantastisch erfolgreiche Lösungen
            br
            | durch ein abgestimmtes Zusammenspiel von Programmierung,
            br
            | Optimierung und Prozessautomatisierung.

  section.section
    .container.container--1000
      .intro__content-wrapper
        .intro__horizontal-text(data-aos="fade-up")
          p.p-main Unser Leitbild ist ein kühnes, modernes und benutzerfreundliches Software-Produkt zu entwickeln, das Ihnen nicht nur Ihre Ziele erreichen helfen, sondern auch Millionen Benutzern das Handling deutlich einfacher machen könnte.

          p.p-accent Wir sind überzeugt, dass Softwarelösungen immer höheren Stellenwert gewinnen und durch die Optimierung und Automatisierung Ihrer Prozesse effizienter werden und Sie Kosten sparen.

  section.section
    .intro__slogan.slogan(data-aos="fade-up")
      .slogan__contents
        .slogan__text Digital-Services, benutzerfreundlich und <br/>business-orientiert

