// INTRO
.intro
  position: relative

  &__content-wrapper
    margin-top: auto
    margin-bottom: auto

  &__name
    font-size: 64px
    text-align: right
    transform: translateY(-1em)

  &__horizontal-text
    text-align: center
    .p-accent
      margin-top: 60px

  &__slogan
    margin-top: auto
    margin-bottom: auto
    background: linear-gradient(87.35deg, #8B53DA -0.82%, #FF003F 132.53%)
    padding: 120px 0
