// INTRO
.intro
  position: relative
  &__top, &__bottom
    position: relative
    height: 100vh
    display: flex
  &__left-col, &__right-col
    position: absolute 0
    width: 100%
    min-width: 1px
    min-height: 0
    display: flex
    flex-direction: column
    justify-content: center

  // &__left-col
  //   flex: 0 0 50%
  //   max-width: 50%
  // &__right-col
  //   flex: 0 0 50%
  //   max-width: 50%

  &__name
    font-size: 64px
    text-align: right
    transform: translateY(-2em)

  // &__bottom

  &__bottom-box
    position: absolute
    z-index: 2
    top: 0
    left: 0
    right: 0
    height: 50vh
    display: flex
    flex-direction: column
    text-align: center
    padding: 30px 0
    overflow: hidden
    &--first
      justify-content: flex-end
    &--second
      top: auto
      bottom: 0

  &__slogan
    margin-top: auto
    margin-bottom: auto
    background: linear-gradient(87.35deg, #8B53DA -0.82%, #FF003F 132.53%)
    padding: 120px 0
