// OVERLAY code
.overlay
  .overlay__background

  section.section
    .container
      .row.overlay__content-wrapper
        .col.col-7
          .overlay__contents(data-aos="fade-up")
            p.p-label Was wir tun
            h2.h2-title Kompletter Entwicklungsprozess
            p.p-main Eindeutige Produkte entwickeln ist die Grundlage unserer Arbeit. Lion's Byte realisiert ausgerechnet solche Produkte, die Ihnen und Ihren Kunden Freude bringen würde. Perfektion, Qualität und Benutzerfreundlichkeit sind es, worauf wir gezielt haben. Wir haben beste Spezialisten auf dem Markt, was uns an soliden Web-Projekten und komplizierten mobilen Anwendungen arbeiten lässt.

        .col.col-5
          .overlay__code
            pre
              code.hljs.typescript.
                <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">HelloWorld</span> </span>{
                    <span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-built_in">void</span> <span class="hljs-function"><span class="hljs-title">main</span>(<span class="hljs-params"><span class="hljs-built_in">String</span>[] args</span>)</span> {
                        System.out.println(<span class="hljs-string">"Hello, World!"</span>);
                    }
                }
