// OVERLAY lion
.overlay
  .overlay__background

  section.section.section--h5
    .container
      .row.overlay__content-wrapper
        .col.col-7
          .overlay__contents(data-aos="fade-up")
            p.p-label Was wir tun
            h2.h2-title Ihre Idee – <br/>unsere Fachleute.
            p.p-main Wir stehen Ihnen mit unseren Spezialisten zur Seite, um Ihre bestehenden Teams zu unterstützen oder wir können ein maßgeschneidertes Team je nach konkreter Aufgabe bilden, ein optimales Technologie-Stack bestimmen und das Verwaltungsverfahren für das Projekt wählen. Zum Beispiel, um Ihre eigenen spezifischen Softwareprodukte zu erweitern und zu ergänzen. In diesem Fall bezahlt der Kunde nur die von unseren Spezialisten für das Projekt oder für eigene Softwareprodukt aufgewandte Zeit. Ihr technischer Spezialist kann mit unserem Spezialisten ein Vorstellungsgespräch führen, bevor sich dieser an die Arbeit macht.

        .col.col-5

    .overlay__lionhead
      //- img(src='img/lionhead.png' srcset='img/lionhead@2x.png' alt="")
      .lottie
        #lottie-lion(data-key="lion")
