// benefits
.benefits

  .benefits__background

  // section
  section.section
    .container
      .benefits__content-wrapper
        .benefits__subtitle.p-label Warum wir?
        .benefits__box.benefits__box--pink(data-id="1")
          .benefits__title Qualität
          .benefits__description
            p.p-main Unsere Gesellschaft trägt Haftung für hohe Qualität der zu erbringenden Dienstleistungen, deshalb bemühen wir uns in Ihr Thema zu vertiefen und die gestellte Aufgabe mit der schweizerischen Genauigkeit und Perfektion zu lösen.

  // section
  section.section
    .container
      .benefits__content-wrapper
        .benefits__subtitle.p-label Warum wir?
        .benefits__box.benefits__box--teal(data-id="2")
          .benefits__title Performance
          .benefits__description
            p.p-mainWir schätzen Ihre Zeit, deshalb nehmen wir Termine pünktlich wahr.  Wir legen viel wert auf Deadlines. Eben darum erfüllen wir unsere Arbeit mit Einhaltung zeitlicher Vorgaben.

  // section
  section.section
    .container
      .benefits__content-wrapper
        .benefits__subtitle.p-label Warum wir?
        .benefits__box.benefits__box--blue(data-id="3")
          .benefits__title Zuverlässigkeit
          .benefits__description
            p.p-mainWir Wir verfügen über große Erfahrung in der Projektierung von komplizierten und hochbeanspruchten Systemen und können die Zuverlässigkeit des Produktes gewährleisten.

